<div class="txt-14">
  <!-- Upcoming Events start -->
  <v-card class="mg-b10 pd-10 center">
    <span class="mg-b10">Upcoming Events:</span>
    <img src="https://cdn0.iconfinder.com/data/icons/camping-and-holiday-1/64/camping_nature_tools_holidays_forest-04-512.png" alt="forest" style="width: 100%;"/>
    Holiday camping<br>Friday 15:00
  </v-card>
  <!-- Upcoming Events end -->
  <!-- Friend Request start -->
  <v-card class="mg-b10 pd-10 center">
    <span class="mg-b10">Friend Request</span>
    <!-- friend null message -->
    <div v-if="!friends.filter((e) => e.checked === false)[0]" class="mg-t10 mg-b10">
      <span class="bold">doesn't have lists</span>
    </div>
    <!-- have friends  -->
    <div v-else>
      <v-avatar color="orange" size="120" class="mg-10 mg-b10" justify="space-around">
        <img
          :src="`${friends.filter((e) => e.checked === false)[0].image}`"
          :alt="`${friends.filter((e) => e.checked === false)[0].alt}`"
        >
      </v-avatar><br>
      <!-- buttons -->
      <v-btn :color="`${button.color}`" class="mg-t10 txt-14" v-for="button in buttons" @click="checked(`${button.icon}`)">
        <v-icon>{{button.icon}}</v-icon>
      </v-btn>
    </div>
  </v-card>
  <!-- Friend Request end -->
</div>